# Python
__pycache__/
.DS_Store
.python-version
.ruff_cache/
.venv/
.vscode/
*.egg
*.egg-info
*.py[oc]
*.tar.bz2
*.tar.gz
*.whl
*.zip
build/
dist/
venv/
wheels/
.env
.cache_ggshield

# App
/*.txt
/*.json
/*.csv
logs/
archive/
data/*
!data/payload_sample.json
*.duckdb
*.duckdb.wal
*.sqlite
*.sqlite-wal
*.sqlite-shm
src/*.json
src/*.csv
src/*.log
